body {
	font-family: sans-serif;
	text-align: center;
}

.title {
}

.greeting {
}

.game-choices {
}

.button-wrapper {
    display: inline-block;
    padding: 20px;
}

button {
    font-size: larger;
    border-radius: 4px;
    width: 150px;
    height: 75px;
    cursor: pointer;
}