body {
	font-family: sans-serif;
	text-align: center;
	background-image: url("./background.jpg");
}


.stats-wrapper {
    width: 537px;
    margin: 0 auto;
    padding: 5px;
    border: 10px solid black;
    border-radius: 4px;
    background-color: white;
    font-size: larger;
}

.results-wrapper .emphasis {
	font-style: italic;
}


.play-message, .waiting-message {
    padding-top: 5px;
    font-size: x-large;
    color: white;
}

.waiting-message.initial {
	padding-top: 120px;
}

.play-choices {
	font-size: x-large;
    padding-top: 16px;
}
.button-wrapper {
    display: inline-block;
    padding: 20px;
}

.emphasis {
	display: inline-block;
	font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}
button {
    font-size: larger;
    border-radius: 4px;
    width: 150px;
    height: 75px;
    cursor: pointer;
    background-color: white;
    border: 4px solid black;
    font-weight: bold;
}
button.rock:hover {
	background-color: #C77474;
}
button.paper:hover {
	background-color: #6FB56F;
}
button.scissors:hover {
	background-color: #8C8CFB;
}